@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 30px;
    background-color: rgb(0, 0, 0);
}

.primary_header {
    background-color: rgb(0, 0, 0);
}


nav {
    /* height: 80px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 22px 60px 0px 100px; */
}


.fas {
    color: white;
    font-size: 1.7rem;
}

.hamburger {
    display: none;
}

.main_page {
    background-color: #000000;
    height: 100%;
}

.row {
    padding: 20px;
}

nav .Logo {
    color: aliceblue;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
}

#click {
    display: none;
}

.nav_list {
    background-color: rgb(0, 0, 0);
    gap: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

.nav_list li {
    /* margin: 0 5px; */
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    color: black;
    background: white;
}

/* #click:checked ~ ul{
    left: -100%;
} */
nav .menu_btn {
    width: 30px;
    background-color: rgb(254, 254, 254);
    padding: 5px;
    display: none;
    cursor: pointer;
    background-color: red;
}

.name {
    margin: 100px auto;

}

h1 {
    font-size: 42px;
    color: aliceblue;
}

h4 {
    color: rgb(155, 153, 151);
}

h3 {
    color: white;
    font-size: 42px;
}

.profile_photo {
    width: 600px;

}

.details {
    margin-left: 20px;
}

.description {
    margin-top: 20px;
    font-size: 30px;
    color: wheat;
}

.pro {
    margin: auto 50%;
}

.even_columns {
    display: flex;
    justify-content: space-between;
}

.project_bg {
    background-color: #171919;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;

}
.project{

    display: flex;
}

.project_deatils{
   margin: 20px;
}

@media (max-width : 800px) {

    .name {
        margin: auto 41px
    }

    .even_columns {
        display: block;
    }

    .profile_photo {
        width: 346px;
    }

    nav .menu_btn {
        display: block;
    }

    nav ul {
        position: fixed;
        background: #000000;
        top: 70px;
        transform: translateX(-120%);
        width: 90%;
        max-width: 1200px;
        height: 100vh;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    nav ul.open {
        transform: translateX(0);
    }

    nav ul li {
        margin: 40px 0;
    }

    nav ul li a {
        font-size: 20px;
        display: block;
    }

    nav ul li a:hover,
    nav ul li a.active {
        color: cyan;
        background: none;
    }

    .hamburger {
        display: block;
    }

    .nav_list.open {
        transform: translateX(0);
    }

    .project{
        flex-wrap: wrap;
        justify-content: center;
    }   

}